* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

header {
    width: 100%;
    height: 50px;
    background-color: #fff;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
}

i {
    margin-left: 20px;
    color: gold;
}

.bet_img {
    margin-left: 25vh;
    width: 200px;
}

.logo {
    width: 130px;
    background-color: white;
    margin-bottom: 19px;
}

.banner {
    width: 100%;
    height: 150px;
    color: #fff;
    line-height: 20px;
    /* padding: 50px; */
    background-color: #001041;
}

.h2 {
    text-align: center;
    padding-top: 50px;
}

.motion {
    color: gold;
    font-weight: bold;
}


/* .about_container {} */

.about_me {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 320px;
    column-gap: 25px;
    /* margin-top: 10px; */
    padding: 30px;
    line-height: 20px;
    border-right: 2px solid #001041;
    background-color: #f5f5f5;
}

.about_container .info_done div {
    float: left;
    /* padding: 30px; */
    background-color: #001041;
}


.about_info {
    display: grid;
    line-height: 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    margin-left: 10px;
    width: 400px;
}

.about_info img {
width: 190px;
height: 200px;
}
 
.info_done {
    font-size: 20px;
}
.info_done h3{
    font-family: 'works',sans-serif;
    margin-top: 15px;
    font-size: 30px;
    color: #001041;
    font-weight: 600;
}
.info_done p{
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 20px;
    /* letter-spacing: 1px; */
    color: #555;
}

.info {
    border: 2px solid #001041;
    border-radius: 100%;
}

.subcribe_right_side {
    width: 46%;
    height: 260px;
    border: 0 solid moccasin;
    padding: 18px 15px;
    padding: 30px;
    background-color: #001041;
    line-height: 20px;
    position: relative;
    bottom: 45vh;
    height: 200px;
    color: #fff;
    right: 17px;
    float: right;
    text-align: center;
}

.subcribe_right_side .formation::after {
    content: '';
    clear: both;
}

h4 {
    margin-bottom: 30px;
}

.subscribe_right_sided {
    display: flex;
    line-height: 20px;
    justify-content: space-between;
    margin-bottom: 17px;
}

.footer_soft {
    width: 100%;
    height: 200px;
    line-height: 20px;
    padding: 20px;
    background-color: #001041;
    color: #fff;
}

.footer_container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.footer_heads {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.sponsor_footer {
    display: block;
}

.sponsor_footers {
    text-decoration: none;
    color: #fff;
    border: 1px solid gold;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.arrows {
    font-size: 30px;
    color: rosybrown;
}

.arrows:hover {
    font-size: 35px;
}

.copyright {
    text-align: center;
    margin-top: 40px;
    /* margin-left: 50px; */
}